In [191]:
import pandas as pd 
import numpy as np 

dt = pd.read_csv("./food-allergy-analysis-Zenodo.csv")

In [192]:
dt.fillna(0,inplace = True) 
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333200 entries, 0 to 333199
Data columns (total 50 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   SUBJECT_ID               333200 non-null  int64
 1   BIRTH_YEAR               333200 non-null  int64
 2   GENDER_FACTOR            333200 non-null  object
 3   RACE_FACTOR              333200 non-null  object
 4   ETHNICITY_FACTOR         333200 non-null  object
 5   PAYER_FACTOR             333200 non-null  object
 6   ATOPIC_MARCH_COHORT      333200 non-null  bool
 7   AGE_START_YEARS          333200 non-null  float64
 8   AGE_END_YEARS            333200 non-null  float64
 9   SHELLFISH_ALG_START      333200 non-null  float64
 10  SHELLFISH_ALG_END        333200 non-null  float64
 11  FISH_ALG_START           333200 non-null  float64
 12  FISH_ALG_END             333200 non-null  float64
 13  MILK_ALG_START           333200 non-null  float64
 14  MILK_ALG_END             333200 non-null  float64
 15  SOY_ALG_START            333200 non-null  float64
 16  SOY_ALG_END              333200 non-null  float64
 17  EGG_ALG_START            333200 non-null  float64
 18  EGG_ALG_END              333200 non-null  float64
 19  WHEAT_ALG_START          333200 non-null  float64
 20  WHEAT_ALG_END            333200 non-null  float64
 21  PEANUT_ALG_START         333200 non-null  float64
 22  PEANUT_ALG_END           333200 non-null  float64
 23  SESAME_ALG_START         333200 non-null  float64
 24  SESAME_ALG_END           333200 non-null  float64
 25  TREENUT_ALG_START        333200 non-null  float64
 26  TREENUT_ALG_END          333200 non-null  float64
 27  WALNUT_ALG_START         333200 non-null  float64
 28  WALNUT_ALG_END           333200 non-null  float64
 29  PECAN_ALG_START          333200 non-null  float64
 30  PECAN_ALG_END            333200 non-null  float64
 31  PISTACH_ALG_START        333200 non-null  float64
 32  PISTACH_ALG_END          333200 non-null  float64
 33  ALMOND_ALG_START         333200 non-null  float64
 34  ALMOND_ALG_END           333200 non-null  float64
 35  BRAZIL_ALG_START         333200 non-null  float64
 36  BRAZIL_ALG_END           333200 non-null  float64
 37  HAZELNUT_ALG_START       333200 non-null  float64
 38  HAZELNUT_ALG_END         333200 non-null  float64
 39  CASHEW_ALG_START         333200 non-null  float64
 40  CASHEW_ALG_END           333200 non-null  float64
 41  ATOPIC_DERM_START        333200 non-null  float64
 42  ATOPIC_DERM_END          333200 non-null  float64
 43  ALLERGIC_RHINITIS_START  333200 non-null  float64
 44  ALLERGIC_RHINITIS_END    333200 non-null  float64
 45  ASTHMA_START             333200 non-null  float64
 46  ASTHMA_END               333200 non-null  float64
 47  FIRST_ASTHMARX           333200 non-null  float64
 48  LAST_ASTHMARX            333200 non-null  float64
 49  NUM_ASTHMARX             333200 non-null  float64
dtypes: bool(1), float64(43), int64(2), object(4)
memory usage: 124.9+ MB

In [193]:
dt.drop(columns = ["NUM_ASTHMARX"],inplace=True)
c = dt.columns[9:]
for column in dt.columns :
    if dt[column].dtype == float :
        dt[column] = dt[column].astype('int')

In [194]:
i = 0 
allg_dt_classes = pd.DataFrame()
while i!= 22 :
       allg_dt_classes[c[i]] = dt[c[i]]|dt[c[i+1]]
       i = i + 2 
allg_dt_classes.head()

,SHELLFISH_ALG_START,FISH_ALG_START,MILK_ALG_START,SOY_ALG_START,EGG_ALG_START,WHEAT_ALG_START,PEANUT_ALG_START,SESAME_ALG_START,TREENUT_ALG_START,WALNUT_ALG_START,PECAN_ALG_START
0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0

In [195]:
class_n = 1 
for c in allg_dt_classes.columns : 
    for i in allg_dt_classes[c] : 
        if i != 0  :
            allg_dt_classes[c][y] = class_n
        y = y + 1 
    y = 0 
    class_n = class_n + 1

In [199]:
dt.drop(columns = dt.columns[9:] , inplace = True )
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333200 entries, 0 to 333199
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   SUBJECT_ID           333200 non-null  int64
 1   BIRTH_YEAR           333200 non-null  int64
 2   GENDER_FACTOR        333200 non-null  object
 3   RACE_FACTOR          333200 non-null  object
 4   ETHNICITY_FACTOR     333200 non-null  object
 5   PAYER_FACTOR         333200 non-null  object
 6   ATOPIC_MARCH_COHORT  333200 non-null  bool
 7   AGE_START_YEARS      333200 non-null  int32
 8   AGE_END_YEARS        333200 non-null  int32
dtypes: bool(1), int32(2), int64(2), object(4)
memory usage: 18.1+ MB

In [205]:
# converting all the data into numurical variables
from sklearn.preprocessing import LabelEncoder 
l= LabelEncoder() 
ndt = pd.DataFrame(columns=list(dt.columns))
for column in dt.columns :
    if dt[column].dtype == object or dt[column].dtype == bool :
        dt[column] = l.fit_transform(dt[column])

In [214]:
import sklearn.model_selection as skm 
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
import random 

model = LogisticRegression() 
x = dt
for c in allg_dt_classes.columns : 
    y_1 =allg_dt_classes[c]
    x_train, x_test , y_train , y_test =  skm.train_test_split(x,y_1,test_size = 0.3 , random_state = 42 )
    model.fit(x_train , y_train)
    pre_y = model.predict(x_test)
    score =accuracy_score(y_test,pre_y)
    print("accuracy of predecting %s allergy : %.3f"%(c.split("_")[0],score))

accuracy of predecting SHELLFISH allergy : 0.985
accuracy of predecting FISH allergy : 0.995
accuracy of predecting MILK allergy : 0.985
accuracy of predecting SOY allergy : 0.995
accuracy of predecting EGG allergy : 0.986
accuracy of predecting WHEAT allergy : 0.997
accuracy of predecting PEANUT allergy : 0.976
accuracy of predecting SESAME allergy : 0.998
accuracy of predecting TREENUT allergy : 1.000
accuracy of predecting WALNUT allergy : 0.998
accuracy of predecting PECAN allergy : 0.999